.button {
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  background-color: #ffbf1b;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    user-select: none;
    margin: 0;
  }
}

.banner {
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    user-select: none;
    margin: 0;
  }
}
